.arrow-r {
	background: url(../../img/arrow_up.png) no-repeat;
	height: 32px;
	width: 32px;
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.arrow-d {
	background: url(../../img/arrow_down.png) no-repeat;
	height: 32px;
	width: 32px;
	display: inline-block;
	float: right;
	margin-top: 20px;
}


.collapse-container>:nth-child(odd) {
    background-color: white;
    width: 600px;
    height: 50px;
    border: 1px solid #e5e5e5;
    margin: auto;
}
.collapse-container>:nth-child(odd) img{
	
	padding-top: 10px;
	padding-left: 10px;
	margin-right: : 15px; 
}


.collapse-container>:nth-child(even) {
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 600px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
}
.collapse-container>:nth-child(even) p {
    padding: 0px 5px;
}


.collapse-container>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}
