@import "../fonts/fonts";
/*Footer*/
.footer{
  margin: 0;
}
.footer p{
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  font-size: 18px;
  text-align: center;
}
.footer h2, a{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 20px;
  text-align: center;
}
.footer img{
  width: 64px;
  height: 64px;
}
.map{
  background: url(../../../assets/images/footer.png) no-repeat center / cover;
  height: 200px;
  margin-top: 120px;
}
.map_content{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #f38181;
  font-size: 24px;
}