@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');

body{
  padding: 0;
  margin: 0;
}
header {
  background: url(../img/header.png) no-repeat center top / cover;
  padding-bottom: 230px;
}
div{
  box-sizing: border-box;

}
nav{
  margin-top: 39px;
  float: right;
}
.clearfix:after{
 content: ' ';
 display: table;
 width: 100%;
 clear: both;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding-left: 56px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Open+Sans', sans-serif;
  color: #ffffff;
}
.container{
  width: 1150px;
  margin: 0 auto;
}
.logo{
  margin-top: 41px;
  float: left;
}
.titles_first{
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  margin-top: 70px;
}

h1{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 150px;
  text-align: center;
  margin-top: 65px;
}
.title{
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  font-size: 24px;
  text-align: center;
  margin-top: 94px;
}
.title h2{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 30px;
  text-align: center;
  

}
.title p{
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 15px;
  text-align: center;

}

.button{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  width: 160px;
  border: 4px solid #fff;
  padding: 12px 0;
  display: block;
  margin: 0 auto;
  text-align: center;

}
.services{
  display: flex;
  flex-direction: row;
  justify-content: center; 

}
.services_item{
  margin: 15px;
  margin-top: 100px;
  float: left;
    transition: all 300ms linear 0ms;
}
.services_item:hover {
    transform: rotate(0deg) scale(1.1,1.1) ;
    
    transition: transform 300ms linear 0ms;
}
.services_text{
  margin-top: 85px;
  width: 300px;
}
.services_text h3{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 14px;
  text-align: left;

}
.services_text p{
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 15px;
  text-align: left;
}

.devices{
  background: url(../img/devices.png) no-repeat center / cover;
  height: 900px;
}
.what_we_do{
  margin-top: 95px;
  margin: 30px;
  
}
.collapse-container{
  margin: 0;
  float: right;
  max-width: 500px;
  text-align: left;
}
.collapse-container img{
  
}
.map{
  background: url(../img/footer.png) no-repeat center / cover;
  height: 200px;
  margin-top: 120px;
}
.map_content{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #f38181;
  font-size: 24px;
}
.footer{
  margin: 0;
}
.footer p{
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  font-size: 18px;
  text-align: center;
}
.footer h2, a{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 20px;
  text-align: center;
}
.footer img{
  width: 64px;
  height: 64px;
}
.content_slide{
  overflow: scroll;
  overflow-x: hidden;
    height: 150px;
    padding: 5px;
    
}
.collapse-container h2{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 14px;

  
}
.collapse-container p{
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 16px;
}
::-webkit-scrollbar-button {
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#f5f5f5
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 6px;
background-color:#95e1d3;

}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}
.header_fixed{
    position: fixed;
    top: 0;
    background-color: #e88182;
    animation: showElement;
    animation-duration: 1s;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    
}
.header_fixed nav{
  padding-right:  150px;
  margin-top: 20px;
  float: right;
}
.header_fixed img{
  padding-left: 150px;
  padding-bottom: 20px;
  margin-top: 20px;
}
@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}